<div class="m-3">
  <div class="m-4">
    <h1 class="text-center">Ratings</h1>
  </div>
  <div class="row" *ngFor="let article of news">
    <div class="mb-4 col-md-6 p-0">
      <img [src]="article?.imageURL" class="card-img-top" alt="...">
    </div>
    <div class="card mb-4 col-md-4 p-0">
      <div class="card-body">
        <h4 class="card-title">Rating: {{ article?.rating }}</h4>
        <h5 class="card-title">Title: {{ article?.title }}</h5>
        <h6 class="card-title">Price: ${{ article?.price }}</h6>
        <p class="card-text">Description: {{ article?.description }}</p>
        <a [routerLink]="'/product/' + article.id" class="btn btn-primary">More</a>
      </div>
    </div>
  </div>
</div>
